@import 'color';
@import 'bootstrap';
@import 'custom';
@import 'normalize';
@import 'fonts';

body{
    background: linear-gradient(to right, rgb(116, 116, 191), rgb(52, 138, 199));
    font-size: 16px;
    height: 100vh;
    color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 500px;
    height: 120px;
    width: 50vw;
    margin: auto;
    .header__headline{
        margin: 0px;
        flex-basis: 70%;
        font-family: $font1;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        background: linear-gradient(to right, rgb(43, 88, 118), rgb(78, 67, 118));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .header__points{
        text-align: right;
        flex-basis: 15%;
        font-family: $font1;
        font-weight: 800;
        font-size: 3em;
        background: linear-gradient(to right, rgb(43, 88, 118), rgb(78, 67, 118));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .header__points--hidden{
        font-size: 0px;
    }
}

.main{
    max-width: 500px;
    margin: auto;
    padding-top: 10px;
    .main__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        .dice{
            margin: 20px;
        }
        .main__start{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $font1;
            font-weight: 800;
            font-size: 20px;
            text-transform: uppercase;
            width: 105px;
            height: 50px;
            background: -webkit-linear-gradient(right, rgb(235, 51, 73), rgb(244, 92, 67));
            background: -o-linear-gradient(right, rgb(235, 51, 73), rgb(244, 92, 67));
            background: linear-gradient(to left, rgb(235, 51, 73), rgb(244, 92, 67));
            margin-bottom: 10px;
            z-index: 999;
        }
        .main__start:hover{
            cursor: pointer;
        }
        .main__form{
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .form__input{
                height: 50px;
                width: 100px;
                text-align: center;
                background-color: black;
                color: white;
                font-size: 25px;
                font-weight: 900;
                border-width: 0px;
            }
            .form__button{
                height: 50px;
                background: -webkit-linear-gradient(right, rgb(235, 51, 73), rgb(244, 92, 67));
                background: -o-linear-gradient(right, rgb(235, 51, 73), rgb(244, 92, 67));
                background: linear-gradient(to left, rgb(235, 51, 73), rgb(244, 92, 67));
                border-width: 0px;
                font-size: 25px;
                color: white;
            }
            .form__button:hover{
                cursor: pointer;
            }
        }
        .main__container--hidden{
            display: none;
        }
    }
    .box{
        margin: auto;
        width: 50%;
        display: flex;
        flex-direction: column;
        .box__label{
            text-align: center;
        }
    }
    .main__menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        .menu__list{
            margin-left: 0px;
            padding-left: 0px;
            .menu__item{
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $font1;
                font-weight: 800;
                font-size: 20px;
                text-transform: uppercase;
                width: 105px;
                height: 50px;
                background: linear-gradient(to left, rgb(235, 51, 73), rgb(244, 92, 67));
                margin-bottom: 10px;
            }   
        }
    }
}

.menu__headline{
    text-align: center;
}

.dice {
    border: solid 3px #aaa;
    border-radius: 3px;
    display: block;
    width: 100px;
    height: 100px;
    margin: 7px auto;
    box-sizing: border-box;
    padding: 10.5px;
    position: relative;
    .dot {
        border-radius: 50%;
        position: absolute;
        width: 15px;
        height: 15px;
        background: #000;
    }
}

.dice--1{
  .dot{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.dice--2{
  .dot{
    &:first-child{
      top: 15px;
      left: 15px;
    }
    &:last-child{
      bottom: 15px;
      right: 15px;
    }
  }
}

.dice--3{
  .dot{
    &:first-child{
      top: 15px;
      left: 15px;
    }
    &:nth-child(2){
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
    &:last-child{
      bottom: 15px;
      right: 15px;
    }
  }
}

.dice--4{
  .dot{  
    &:first-child{
      top: 15px;
      left: 15px;
    }
    &:nth-child(2){
      top: 15px;
      right: 15px;
    }
    &:nth-child(3){
      bottom: 15px;
      left: 15px;
    }
    &:last-child{
      bottom: 15px;
      right: 15px;
    }
   }
}

.dice--5{
  .dot{  
    &:first-child{
      top: 15px;
      left: 15px;
    }
    &:nth-child(2){
      top: 15px;
      right: 15px;
    }
    &:nth-child(3){
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
    &:nth-child(4){
      bottom: 15px;
      left: 15px;
    }
    &:last-child{
      bottom: 15px;
      right: 15px;
    }
  }
}

.dice--6{
  .dot{  
    &:first-child{
      top: 15px;
      left: 15px;
    }
    &:nth-child(2){
      top: 15px;
      right: 15px;
    }
    &:nth-child(3){
      top: 0;
      bottom: 0;
      left: 15px;
      margin: auto;
    }
    &:nth-child(4){
      top: 0;
      right: 15px;
      bottom: 0;
      margin: auto;
    }
    &:nth-child(5){
      bottom: 15px;
      left: 15px;
    }
    &:last-child{
      bottom: 15px;
      right: 15px;
    }
  }
}

.dice--small{
    width: 25px;
    height: 25px;
    .dot{
        border-radius: 50%;
        position: absolute;
        width: 3px;
        height: 3px;
        background: #000;
    }
    
.dice--1{
  .dot{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.dice--2{
  .dot{
    &:first-child{
      top: 20px;
      left: 20px;
    }
    &:last-child{
      bottom: 20px;
      right: 20px;
    }
  }
}

.dice--3{
  .dot{
    &:first-child{
      top: 15px;
      left: 15px;
    }
    &:nth-child(2){
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
    &:last-child{
      bottom: 15px;
      right: 15px;
    }
  }
}

.dice--4{
  .dot{  
    &:first-child{
      top: 15px;
      left: 15px;
    }
    &:nth-child(2){
      top: 15px;
      right: 15px;
    }
    &:nth-child(3){
      bottom: 15px;
      left: 15px;
    }
    &:last-child{
      bottom: 15px;
      right: 15px;
    }
   }
}

.dice--5{
  .dot{  
    &:first-child{
      top: 15px;
      left: 15px;
    }
    &:nth-child(2){
      top: 15px;
      right: 15px;
    }
    &:nth-child(3){
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
    &:nth-child(4){
      bottom: 15px;
      left: 15px;
    }
    &:last-child{
      bottom: 15px;
      right: 15px;
    }
  }
}

.dice--6{
  .dot{  
    &:first-child{
      top: 15px;
      left: 15px;
    }
    &:nth-child(2){
      top: 15px;
      right: 15px;
    }
    &:nth-child(3){
      top: 0;
      bottom: 0;
      left: 15px;
      margin: auto;
    }
    &:nth-child(4){
      top: 0;
      right: 15px;
      bottom: 0;
      margin: auto;
    }
    &:nth-child(5){
      bottom: 15px;
      left: 15px;
    }
    &:last-child{
      bottom: 15px;
      right: 15px;
    }
  }
}

}

.main .main__container--1{
        .dice{
            width: 200px;
            height: 200px;
        }
    }
.main .main__container--2{
        .dice{
            width: 180px;
            height: 180px;
        }
    }

@media screen and (max-width: 600px) {
    .header{
        height: auto;
        width: 90vw;
    }  
    .main .main__container .main__form{
        width: 100vw;
        height: 100vh;
        position: fixed;
    }
    .main .main__container .main__form .form__input{
        width: 100%;
        height: 100%;
        z-index: 50;
        font-size: 50px;
    }
    .main .main__container .main__form .form__button{
        width: 100vw;
        height: 100%;
        z-index: 50;
        font-size: 50px;
    }
    .main .main__container .main__start{
        width: 150px;
        height: 100px;
        font-size: 30px;
    }
}

.hidden{
    display: none !important;
}

.show{
    
}